<div style="text-align:center">
  <h2>
    {{ title }}
  </h2>
</div>
  <h3>FakeAPI</h3>
  <p>Get 100 FakeAPI "Lorem Ipsum" Entries</p>
  <div style="font-size: x-small;">1. HTTP REQ: https://jsonplaceholder.typicode.com/posts</div>
<ul>
  <li>No issue re: CORS, no need for Proxy Server.</li>
  <li>Does use the LibraryThingService, for HTTP request.</li>
</ul>
  <button type="submit" (click)="getFakeAPI($event)">Display FakeAPI Entries</button>
  <br />
  <br />
<button type="submit" on-click="clearFakeAPI()"><em>(Clear FakeAPI Entries)</em></button>
  <hr />
  <ol>
  <li *ngFor="let fapi of fakeApiStuff">
    {{ fapi.title }}
  </li>
</ol>

  <h3>LibraryThing - Web Services API</h3>
  <div style="font-size: x-small;">1. PROXY: http://0.0.0.0:3000/myspecialproxy/:book_id</div>

<!-- Use "{{ '{' }}") to escape it. -->
  <div style="font-size: x-small;">2. HTTP REQ: http://www.librarything.com/services/rest/1.1/?method=librarything.ck.getwork&id=${{'{'}}book_id_passed{{'}'}}&apikey=59211e...</div>
<ul>
  <li>Has the "No CORS Allowed" issue, and so does use Proxy Server.</li>
  <li>Uses the LibraryThingService, for HTTP request.</li>
</ul>
<br />
  <div style="background-color: lightblue; padding: 8px;">
      <label for="bookId_id">LibraryThing Book ID # : </label>
      <input type="text" ref-bookId id="bookId_id" name="bookId_name" placeholder="e.g. 1528" />
        <br />
        <button type="submit" on-click="getLtWsApi(bookId)">Indicate Book ID# to Retrieve</button>
      <ul>
        <li>1528 = The Red Badge of Courage</li>
        <li>1527 = The Picture of Dorian Gray</li>
        <li>1526 = The Odyssey</li>
        <li>1525 = The Name of the Rose</li>
        </ul>
    </div>
    <ul>
    <li>Author: {{ myAuthor }}</li>
    <li>Title: {{ myTitle }}</li>
    <li>Rating: {{ myRating }}</li>
    <li>LibraryThing URL: <a href="{{myLtUrl}}">{{ myLtUrl }}</a></li>
    </ul>
 <!--   <h5 *ngIf="{{ myCharacterNames }}">Character Names</h5> -->
      <ol>
        <li *ngFor="let cName of myCharacterNames">{{ cName }}</li>
        </ol>


